
#portal-view
  header
    text-align: center
    padding: 1em

    & *
      text-transform: capitalize

    ul
      list-style: none
      display: flex
      flex-direction: row
      justify-content: space-around

      li
        padding: 1em
        cursor: pointer

  footer
    position: absolute
    bottom: 0
    width: 100%
    text-align: center
    padding: 1em

