<div id="events-view" ng-switch="events.shownPage">
    <div ng-switch-when="create">
        <div class="form-group-event">
            <p>&nbsp</p>
            <h2>Create new event</h2>
            <span class="error" ng-if="portal.newEvent.nameError">Required</span>
            <div><input id="rso-name" class="form-control title" type="text" placeholder="Title"
                   ng-model="portal.newEvent.name"></div>
            <div><input id="rso-name" class="form-control title" type="text" placeholder="Location"
                   ng-model="portal.newEvent.name"></div>
            <div><input id="rso-name" class="form-control title" type="text" placeholder="About"
                   ng-model="portal.newEvent.name"></div>
            <div><input datetime-picker date-format="yyyy-MM-dd HH:mm:ss" future-only data-ng-model="portal.time"/></div>
            <button name="Submitbutton">Submit</button>
            <button name="Cancelbutton">Cancel</button>
            <br/>
        </div>
    </div>
    <table ng-switch-default>
        <tr>
            <th>Title</th>
            <th>Type</th>
            <th>Time</th>
            <th>Location</th>
        </tr>
        <tr>
            <td><button style="color: dodgerblue" ng-click="events.shownPage = 'create'">Create an event</button></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr ng-repeat="event in events.list">
            <td>{{event.title}}</td>
            <td>{{event.date | date : 'medium'}}</td>
            <td>{{event.location}}</td>
            <td>{{(event.type==true)?'public':(event.type==null)?'RSO':'private'}}</td>
        </tr>
    </table>
</div>
