<div id="rso-view" ng-switch="rso.shownPage">
    <div ng-switch-when="create">
        <div class="form-group">
            <span class="error" ng-if="portal.newEvent.nameError">Required</span>
            <input id="rso-name" class="form-control title" type="text" placeholder="Title" ng-model="portal.newEvent.name">
            <input id="rso-name" class="form-control title" type="text" placeholder="Location" ng-model="portal.newEvent.name">
            <input id="rso-name" class="form-control title" type="text" placeholder="About" ng-model="portal.newEvent.name">
            <input datetime-picker date-format="yyyy-MM-dd HH:mm:ss" future-only data-ng-model="rso.time"/>
            <br/>
        </div>
    </div>
    <div ng-switch-when="event" class = "rso-single-event">
      <div class="main-content-event">
        <h2 style="text-align: center">{{rso.shownEvent.title}}</h2>
        <p style="text-align: center;">{{rso.shownEvent.date | date : 'medium'}}</p>
        <p style="text-align: center">{{rso.shownEvent.about}}</p>
      </div>
      <div class="aside-event">
          <h1 style="text-align: center">Attendees</h1>
          <table>
            <tbody style="display: block;max-width: 400px; overflow-y: scroll;">
              <tr>
                  <th>Name</th>
                  <th>Email</th>
              </tr>
              <tr ng-repeat="rso in rso.shownEvent.users | orderBy :'name'">
                  <td>{{rso.name}}</td>
                  <td>{{rso.email}}</td>
              </tr>
            </tbody>
          </table>
      </div>
        <table class="comments">
            <thead ng-if="rso.comments">
            <tr><th>Comments</th><th></th></tr>
            </thead>
            <tr ng-repeat='comment in rso.comments'>
                <td> {{comment.message}} </td>
                <td><button ng-click='rso.del($index)'>DEL</button></td>
            </tr>
        </table>
    </div>
    <div ng-switch-when="events" class = "wrapper">
      <div id="singleRSO" class="main-content">
        <h2>{{rso.shownRso.name}}</h2>
        <h4 style="font-size:90%">Email : {{rso.shownRso.email}}</h4>
        <h4 style="font-size:90%">Admin Name: {{rso.shownRso.admin.user.name}}</h4>
        <h4 style="font-size:90%">Admin Email: {{rso.shownRso.admin.user.email}}</h4>
        <br><br><h1 style="text-align:center">Events</h1>
      </div>
      <div class="aside">
        <h1 style="" id="rsoMembers">Members</h1>
        <table>
          <tbody style="display: block;max-width: 400px; height: 205px; overflow-y: scroll;">
          <tr>
            <th>Name</th>
            <th>Email</th>
          </tr>

          <tr ng-repeat="rso in rso.shownRso.users | orderBy :'name'">
            <td>{{rso.name}}</td>
            <td>{{rso.email}}</td>
          </tr>
        </tbody>
        </table>
      </div
      </div>
        <table>
            <tr>
                <th>Title</th>
                <th>Time</th>
                <th>Location</th>
                <th>type</th>
            </tr>
            <tr>
                <td><button style="color: dodgerblue" ng-click="rso.shownPage = 'create'">Create an event</button></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="event in rso.eventlist"
                data-ng-click="rso.show(event, 'event', event)">
                <td>{{event.title}}</td>
                <td>{{event.date | date : 'medium'}}</td>
                <td>{{event.location}}</td>
                <td>{{(event.type==true)?'public':(event.type==null)?'RSO':'private'}}</td>
            </tr>
        </table>
    </div>
    <div ng-switch-default>
        <h2 style="text-align: center">Your RSOs</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Contact Email</th>
                <th>Admin Name</th>
                <th></th>
            </tr>
            <tr ng-repeat="org in rso.joinedlist">
                <td data-ng-click="rso.show(org, 'events', null)">{{org.name}}</td>
                <td data-ng-click="rso.show(org, 'events', null)">{{org.email}}</td>
                <td data-ng-click="rso.show(org, 'events', null)">{{org.admin.user.name}}</td>
                <td><button data-ng-click="rso.leave(org.id)">Leave</button></td>
            </tr>
        </table>
        <h2 style="text-align: center">Other RSOs</h2>
        <table>
            <tr>
                <th>Name</th>
                <th>Contact Email</th>
                <th>Admin Name</th>
                <th></th>
            </tr>
            <tr>
                <td><button style="color: dodgerblue" ng-click="portal.showModal = 'rso'">Request your group here</button></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="org in rso.otherlist">
                <td>{{org.name}}</td>
                <td>{{org.email}}</td>
                <td>{{org.admin.user.name}}</td>
                <td><button data-ng-click="rso.join(org.id)">Join</button></td>
            </tr>
        </table>
    </div>
</div>
