.rso-single-event
  max-height: 75%


#singleRSO
  text-align: center
  box-sizing: border-box
  margin: 0
  padding: 0
#rsoMembers
  text-align: center


.main-content-event
    width: 75%
    float: left
    background-color: #4CAF50

.main-content
    width: 75%
    float: left
    background-color: #4CAF50

.aside-event
    height: 300px
    width: 25%
    float: left
    background-color: #4CAF50

.aside
    height: 285px
    width: 25%
    float: left
    background-color: #4CAF50

.wrapper, html, body
    height: 100%
