<div id="university-view" ng-switch="university.shownPage">
    <div ng-switch-when="create">
        <div class="form-group-event">
            <p>&nbsp</p>
            <h2>Create new event</h2>
            <span class="error" ng-if="portal.newEvent.nameError">Required</span>
            <div><input id="rso-name" class="form-control title" type="text" placeholder="Title"
                   ng-model="portal.newEvent.title"></div>
            <div><input id="rso-name" class="form-control title" type="text" placeholder="Location"
                   ng-model="portal.newEvent.location"></div>
            <div><input id="rso-name" class="form-control title" type="text" placeholder="About"
                   ng-model="portal.newEvent.about"></div>
            <div><input datetime-picker date-format="yyyy-MM-dd HH:mm:ss" future-only data-ng-model="portal.newEvent.time"/></div>
            <button ng-click="portal.newEvent.type = false; portal.createEvent(undefined)" name="Submitbutton">Submit</button>
            <button name="Cancelbutton">Cancel</button>
            <br/>
        </div>
    </div>
    <div ng-switch-when="event">
      <div class="main-content-event">
        <h1 style="text-align: center">{{university.shownEvent.title}}</h1>
        <p style="text-align: center">{{university.shownEvent.date | date : 'medium'}}</p>
        <p style="text-align: center">{{university.shownEvent.about}}</p>
      </div>
        <div class="aside-uni">
            <h1 style="text-align: center">Attendees</h1>
            <table>
              <tbody style="display: block;max-width: 400px; max-height: 220px; overflow-y: scroll;">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                <tr ng-repeat="uni in university.shownEvent.users | orderBy :'name'">
                    <td>{{uni.name}}</td>
                    <td>{{uni.email}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <table class="comments">
            <thead ng-if="university.comments">
                <tr><th>Comments</th><th>author</th><th></th></tr>
            </thead>
            <tr>
                <td><textarea placeholder="Comment" data-ng-model="university.newcomment"></textarea></td>
                <!--td><input type="text" placeholder="Comment" data-ng-model="university.newcomment"></td-->
                <td></td>
                <td><button ng-click='university.add()'>Add</button></td>
            </tr>
            <tr ng-repeat="comment in university.comments | orderBy : 'id'">
                <td ng-if="!comment.editing"> {{comment.message}} </td>
                <td ng-if="comment.editing"> <textarea data-ng-model="comment.message"></textarea></td>
                <td> {{comment.user.name}}</td>
                <td> <span ng-hide="!university.checkOwner(comment.user.id)">
                    <button ng-click='university.del($index, comment.id)'>DEL</button>
                    <button ng-if="!comment.editing" ng-click='comment.editing = true'>EDIT</button>
                    <button ng-if="comment.editing" ng-click='comment.editing = false; university.edit($index)'>SAVE</button>
                </span></td>
            </tr>
        </table>
    </div>
    <div ng-switch-when="events" class="wrapper">
        <div id="singleRSO" class="main-content-uni">
            <img src="{{university.shownUni.image_url}}" alt="{{university.shownUni.name}}">
            <h2>{{university.shownUni.name}}</h2>
            <h4 style="font-size:90%">Admin Name: {{university.shownUni.admin.user.name}}</h4>
            <h4 style="font-size:90%">Admin Email: {{university.shownUni.admin.user.email}}</h4>
            <h4 style="font-size:90%">About</h4>
            <p>{{university.shownUni.about}}</p>
            <br><br>
            <h1 style="text-align:center">Events</h1>
        </div>
        <div class="aside-uni">
            <h1 id="uniMembers">Members</h1>
            <table>
              <tbody style="display: block;max-width: 400px; height: 500px; overflow-y: scroll;">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                <tr ng-repeat="uni in university.shownUni.users | orderBy :'name'">
                    <td>{{uni.name}}</td>
                    <td>{{uni.email}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <table>
            <tr>
                <th>Title</th>
                <th>Time</th>
                <th>Location</th>
                <th>Type</th>
            </tr>
            <tr>
                <td>
                    <button style="color: dodgerblue" ng-click="university.shownPage = 'create'">Create an event
                    </button>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr ng-repeat="event in university.eventlist | orderBy :['date','title']"
                data-ng-click="university.show(event, 'event', event)">
                <td>{{event.title}}</td>
                <td>{{event.date | date : 'medium'}}</td>
                <td>{{event.location}}</td>
                <td>{{(event.type==true)?'public':(event.type==null)?'RSO':'private'}}</td>
            </tr>
        </table>
    </div>
    <div ng-switch-default>
        <table>
            <tr>
                <th>Name</th>
                <th>Contact Email</th>
                <th>Admin Name</th>
            </tr>
            <tr ng-repeat="org in university.list | orderBy :'name'"
                data-ng-click="university.show(org, 'events')">
                <td>{{org.name}}</td>
                <td>{{org.admin.user.email}}</td>
                <td>{{org.admin.user.name}}</td>
            </tr>
        </table>
    </div>
</div>
