.cipher-menu
  background-color: white
  overflow-x: hidden
  border-radius: 15px
  width: 100%
  //border: 2px solid #73AD21

  .selected
    border-bottom: solid dodgerblue
    font-weight: 700

  ul
    list-style: none
    display: flex
    overflow-x: scroll
    justify-content: space-between
    padding-right: 3em

    li
      flex-grow: 1
      padding: 1em
      cursor: pointer

      &.last
        background: black
