.cipher-menu
  background-color: white
  overflow-x: hidden
  border-radius: 15px
  //border: 2px solid #73AD21

  .selected
    border-bottom: solid dodgerblue
    font-weight: 700

  ul
    list-style: none
    display: flex
    flex-direction: row
    align-items: center
    overflow-x: scroll

    li
      padding: 1em
      cursor: pointer