

table
  flex-grow: 1
  border-collapse: collapse
  width: 100%

  th, td
    text-align: left
    padding: 8px


  tr:nth-child(even)
    background-color: #f2f2f2


#login-view
  text-align: center

textarea
  resize: none

h4
  font-size: 200%

h3
  font-size: 80%
  font-style: italic
  color: black

#portal-view
  background-color: #264d73
  height: 100vh
  width: 100vw
  display: flex
  flex-direction: column


  header
    padding: 1em
    text-align: center
    height: 100px

    & *
      text-transform: capitalize

  section
    padding: 1em
    justify-content: center


    .section
      border-radius: 5px
      overflow: scroll
      min-height: 60vh
      max-height: 75vh
      background-color: white

      table
        flex-grow: 1
        border-collapse: collapse
        width: 100%

        th, td
          text-align: left
          padding: 8px

        tr:nth-child(odd)
          background-color: white
        tr:nth-child(even)
          background-color: #f2f2f2

        th
          background-color: #4CAF50
          color: white
