<div id="modal-view">
  <div id="cover" ng-if="portal.showModal" ng-click="portal.showModal = false" ng-switch="portal.showModal">
    <div id="modal" ng-click="$event.stopPropagation()" ng-switch-when="event">
      <div id="modal-header">
        <div id="modal-title">
          <span>Create Event</span>
        </div>
        <i class="fa fa-times" id="modal-dismiss" ng-click="portal.showModal = false"
           aria-hidden="true"></i>
      </div>
      <div id="modal-content">
        <div class="form-group">
          <span class="error" ng-if="portal.newEvent.nameError">Required</span>
          <input id="rso-name" class="form-control title" type="text" placeholder="Title" ng-model="portal.newEvent.name">
          <input id="rso-name" class="form-control title" type="text" placeholder="Location" ng-model="portal.newEvent.name">
          <input id="rso-name" class="form-control title" type="text" placeholder="About" ng-model="portal.newEvent.name">
          <button datetime-picker ng-model="model" />
          <br/>
        </div>

        <div>
          <span class="error" ng-if="portal.newEvent.uniError">Required</span>
          <select id="new-rso">
            <option selected disabled hidden>University</option>
            <option ng-repeat="x in portal.universities">{{x.name}}</option>
          </select>
        </div>

        <div>
        </div>
        <div class="bottom">
          <div class="bottom-buttons">
            <span>
              <button class="btn btn-success"
                      ng-click="portal.createRSO()"
                      ng-disabled="!portal.newEvent.name || !portal.members > 4">
                Create<i ng-show="portal.newEvent.isAdding" class="fa fa-spinner fa-pulse fa-fw"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div id="modal" ng-click="$event.stopPropagation()" ng-switch-when="rso">
      <div id="modal-header">
        <div id="modal-title">
          <span>Create RSO</span>
        </div>
        <i class="fa fa-times" id="modal-dismiss" ng-click="portal.showModal = false"
           aria-hidden="true"></i>
      </div>
      <div id="modal-content">
        <div class="form-group">
          <span class="error" ng-if="portal.newRSO.nameError">Required</span>
          <input id="rso-name" class="form-control title" type="text" placeholder="Title" ng-model="portal.newRSO.name">
          <br/>
        </div>

        <div>
          <input ng-if="portal.members.length" ng-model="portal.newmember" style="width: 80%" placeholder="Member email address">
          <input ng-if="!portal.members.length" ng-model="portal.newmember" style="width: 80%" placeholder="Admin email address">
          <button ng-click='portal.add()'>Add</button>
          <br/>

          <table>
            <thead ng-if="portal.members.length">
              <tr><th>Added members</th><th></th></tr>
            </thead>
            <tr ng-repeat='member in portal.members'>
              <td> {{member}} </td>
              <td><button ng-click='portal.del($index)'>DEL</button></td>
            </tr>
          </table>
        </div>
        <div class="bottom">
           <div class="bottom-buttons">
            <span>
              <button class="btn btn-success"
                      ng-click="portal.createRSO()"
                      ng-disabled="!portal.newRSO.name || !portal.members > 4">
                Create<i ng-show="portal.newRSO.isAdding" class="fa fa-spinner fa-pulse fa-fw"></i>
              </button>
            </span>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="portal-view">
  <header>
    <cipher-menu>
      <div ng-repeat="tab in portal.tabs track by $index"
           ng-click="portal.cellClick($index)"
           ng-class="{'selected' : portal.selectedTab == $index}">
        <li ui-sref="{{tab.route}}">{{tab.name}}</li>
      </div>
    </cipher-menu>
  </header>
  <section>
    <div ng-if="portal.credential"  class="section" ui-view>
      <h1 style="text-align: center">{{portal.credential.name}}, Welcome to the college event site.</h1>
    </div>
    <div id="login-view" ng-if="!portal.credential" class="section">
      <h4 ng-show="!portal.show_signup">Login</h4>
      <h4 ng-show="portal.show_signup">Signup</h4>
      <div ng-if="portal.newuser">User created.</div>
      <input ng-show="!portal.show_signup" type="email" placeholder="Email" ng-model="portal.email">
      <br ng-show="!portal.show_signup"><br ng-show="!portal.show_signup">
      <input ng-show="!portal.show_signup" type="password" placeholder="Password" ng-model="portal.password">
      <br ng-show="!portal.show_signup"><br ng-show="!portal.show_signup">
      <button ng-show="!portal.show_signup" ng-click="portal.login()">Login</button>
      <a href="" ng-click="portal.show_signup=true" ng-show="!portal.show_signup"><h3>Signup here</h3></a>
      <input ng-show="portal.show_signup" type="text"  placeholder="Name" ng-model="portal.newname">
      <br><br>
      <input ng-show="portal.show_signup"  type="email" placeholder="Email" ng-model="portal.newemail">
      <br><br>
      <input ng-show="portal.show_signup"  type="password" placeholder="Password" ng-model="portal.newpassword">
      <br><br>
      <div ng-show="portal.show_signup">
        <span class="error" ng-if="portal.newuniError">Required</span>
        <select id="new-rso" ng-show="!portal.show_signup_uni">
          <option selected disabled hidden>University</option>
          <option ng-repeat="x in portal.universities">{{x.name}}</option>
        </select>
        <!-- TO DO Connect the new university fields-->
        <input ng-show="portal.show_signup_uni" type="text"  placeholder="University Name" ng-model="portal.newUni.name"> <br ng-show="portal.show_signup_uni"><br ng-show="portal.show_signup_uni">
        <input ng-show="portal.show_signup_uni" type="text"  placeholder="University Location" ng-model="portal.newUni.location"> <br ng-show="portal.show_signup_uni"><br ng-show="portal.show_signup_uni">
        <textarea ng-show="portal.show_signup_uni" name="University-About" rows="5" cols="25" placeholder="University About" ng-model="portal.newUni.about"></textarea> <br ng-show="portal.show_signup_uni"><br ng-show="portal.show_signup_uni">
        <input ng-show="portal.show_signup_uni" type="text"  placeholder="University Image URL" ng-model="portal.newUni.url"> <br ng-show="portal.show_signup_uni"><br ng-show="portal.show_signup_uni">

        <a href="" ng-show="portal.show_signup" ng-click="portal.show_signup_uni=true"><h3 ng-show="!portal.show_signup_uni">Don't see your school?</h3></a>
        <button ng-click="portal.signup()">Signup</button>
        <a ng-click="portal.show_signup_uni = false"><button ng-click="portal.show_signup =false" name="cancel_button">Cancel</button></a>
      </div>
    </div>
  </section>
</div>
