<div id="modal-view">
  <div id="cover" ng-if="portal.showModal" ng-click="portal.showModal = false" ng-switch="portal.showModal">
    <div id="modal" ng-click="$event.stopPropagation()" ng-switch-when="rso">
      <div id="modal-header">
        <div id="modal-title">
          <span>Create RSO</span>
        </div>
        <i class="fa fa-times" id="modal-dismiss" ng-click="portal.showModal = false"
           aria-hidden="true"></i>
      </div>
      <div id="modal-content">
        <div class="form-group">
          <span class="error" ng-if="portal.newRSO.nameError">Required</span>
          <input id="rso-name" class="form-control title" type="text" placeholder="Title" ng-model="portal.newRSO.name">
          <br/>
        </div>

        <div>
          <span class="error" ng-if="portal.newRSO.uniError">Required</span>
          <select id="new-rso">
            <option selected disabled hidden>University</option>
            <option ng-repeat="x in portal.universities">{{x.name}}</option>
          </select>
        </div>

        <div>
          <input ng-if="portal.members.length" ng-model="portal.newmember" style="width: 80%" placeholder="Member email address">
          <input ng-if="!portal.members.length" ng-model="portal.newmember" style="width: 80%" placeholder="Admin email address">
          <button ng-click='portal.add()'>Add</button>
          <br/>

          <table>
            <thead ng-if="portal.members.length">
              <tr><th>Added members</th><th></th></tr>
            </thead>
            <tr ng-repeat='member in portal.members'>
              <td> {{member}} </td>
              <td><button ng-click='portal.del($index)'>DEL</button></td>
            </tr>
          </table>
        </div>
        <div class="bottom">
           <div class="bottom-buttons">
            <span>
              <button class="btn btn-success"
                      ng-click="portal.createRSO()"
                      ng-disabled="!portal.newRSO.name || !portal.members > 4">
                Create<i ng-show="portal.newRSO.isAdding" class="fa fa-spinner fa-pulse fa-fw"></i>
              </button>
            </span>
           </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="portal-view">
  <header>
    <cipher-menu>
      <div ng-repeat="tab in portal.tabs track by $index"
           ng-click="portal.cellClick($index)"
           ng-class="{'selected' : portal.selectedTab == $index}">
        <li ui-sref="{{tab.route}}">{{tab.name}}</li>
      </div>
    </cipher-menu>
  </header>
  <section>
    <div ng-if="portal.credential"  class="section" ui-view>
      <h1 style="text-align: center">Welcome to the college event site.</h1>
    </div>
    <div ng-if="!portal.credential" class="section">
      <h3>Login</h3>
      <input type="email" placeholder="Email" ng-model="portal.email">
      <input type="password" placeholder="Password" ng-model="portal.password">
      <button ng-click="portal.login()">Login</button>

      <h3>Signup</h3>
      <input type="text"  placeholder="Name" ng-model="portal.newname">
      <input type="email" placeholder="Email" ng-model="portal.newemail">
      <input type="password" placeholder="Password" ng-model="portal.newpassword">
      <div>
        <span class="error" ng-if="portal.newuniError">Required</span>
        <select id="new-rso">
          <option selected disabled hidden>University</option>
          <option ng-repeat="x in portal.universities">{{x.name}}</option>
        </select>
        <button ng-click="portal.signup()">Signup</button>
      </div>
    </div>
  </section>
</div>
